---
import Layout from "../layouts/Layout.astro";
const title = 'Acerca de mi WEB !!!'
const color1 = 'title'
const color2 = 'danger'
const color3 = 'default'
---
<Layout title="Acerca de" description="Nosotros como organizacion">
<h1 class="title danger">{ title }</h1>
<p class={ color3 }>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, aperiam.</p>
<p class={ color1 }>Operacion : { 5 * 5 }</p>

</Layout>