---
import Card from '../components/Card.astro'
---

<h1 class="title">Mis Productos</h1>
<p class="default">Estos son algunos</p>

<Card  title='Producto 1' body='Este es el producto 1'></Card>
<Card  title='Producto 2' body='Este es el producto 2'></Card>
<Card  title='Producto 3' body='Este es el producto 3'></Card>
<Card  title='Producto 4' body='Este es el producto 4'></Card>
<Card  title='Producto 5' body='Este es el producto 5'></Card>




<style>
   body {
     background: #202020;
     color: aliceblue;
   }
   .title {
     color: skyblue;
     font-size: 2em;
     font-weight: 700;
     margin-bottom: 5px;
   }
 
   h2 {
     font-size: 2em;
     font-weight: 600;
   }
 
   .alert {
     color: yellow;
   }
   .default {
     color: #ffffffb2;
   }
 </style>
 